In [1]:
import pandas as pd

### Loading Data

Combination of Deaths and Cases

In [34]:
df_cases = pd.read_csv('../data/epidemic/cases_state.csv')
df_deaths = pd.read_csv('../data/epidemic/deaths_state.csv')

In [35]:
df_cases.head()

,date,state,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_unvax,cases_pvax,cases_fvax,...,cases_0_4,cases_5_11,cases_12_17,cases_18_29,cases_30_39,cases_40_49,cases_50_59,cases_60_69,cases_70_79,cases_80
0,2020-01-25,Johor,4,4,0,4,0,4,0,0,...,0,0,0,0,0,1,0,0,0,0
1,2020-01-25,Kedah,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-25,Kelantan,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-25,Melaka,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-25,Negeri Sembilan,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
df_deaths.head()

,date,state,deaths_new,deaths_bid,deaths_new_dod,deaths_bid_dod,deaths_unvax,deaths_pvax,deaths_fvax,deaths_boost,deaths_tat
0,2020-03-17,Johor,1,0,1,0,1,0,0,0,0
1,2020-03-17,Kedah,0,0,0,0,0,0,0,0,0
2,2020-03-17,Kelantan,0,0,0,0,0,0,0,0,0
3,2020-03-17,Melaka,0,0,0,0,0,0,0,0,0
4,2020-03-17,Negeri Sembilan,0,0,0,0,0,0,0,0,0

In [37]:
len(df_cases)

24768

In [38]:
df_casedeath = pd.merge(df_cases,df_deaths,how='left',on=['date','state'])
df_casedeath

,date,state,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_unvax,cases_pvax,cases_fvax,...,cases_80,deaths_new,deaths_bid,deaths_new_dod,deaths_bid_dod,deaths_unvax,deaths_pvax,deaths_fvax,deaths_boost,deaths_tat
0,2020-01-25,Johor,4,4,0,4,0,4,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-25,Kedah,0,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-25,Kelantan,0,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-25,Melaka,0,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-25,Negeri Sembilan,0,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24763,2024-04-20,Selangor,39,0,8,37,0,4,0,8,...,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24764,2024-04-20,Terengganu,0,0,0,299,0,0,0,0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24765,2024-04-20,W.P. Kuala Lumpur,33,0,5,585,0,6,0,3,...,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24766,2024-04-20,W.P. Labuan,0,0,0,28,0,0,0,0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24767,2024-04-20,W.P. Putrajaya,3,0,0,240,0,0,0,0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
df_casedeath.describe()

,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_unvax,cases_pvax,cases_fvax,cases_boost,cases_child,...,cases_80,deaths_new,deaths_bid,deaths_new_dod,deaths_bid_dod,deaths_unvax,deaths_pvax,deaths_fvax,deaths_boost,deaths_tat
count,24768.00000,24768.000000,24768.000000,24768.000000,24768.000000,24768.000000,24768.000000,24768.000000,24768.000000,24768.000000,...,24768.000000,23936.000000,23936.000000,23936.000000,23936.000000,23936.000000,23936.000000,23936.000000,23936.000000,23936.000000
mean,213.17244,1.580709,211.336281,2599.339470,21.576470,82.347626,17.632833,57.008035,56.183947,26.056403,...,2.760174,1.560369,0.331801,1.560369,0.331801,0.941636,0.263829,0.292405,0.062500,1.267965
std,627.11245,9.378788,633.463726,7190.493069,68.639854,265.922475,125.481625,197.029996,269.697437,81.335373,...,5.723609,7.556875,2.184539,7.344758,1.872864,4.758199,2.221502,1.091672,0.331514,9.645332
min,0.00000,0.000000,0.000000,-630.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000
25%,2.00000,0.000000,2.000000,57.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,24.00000,0.000000,22.000000,491.500000,0.000000,5.000000,0.000000,2.000000,1.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,152.00000,0.000000,144.000000,2159.000000,6.000000,39.000000,1.000000,20.000000,19.000000,13.000000,...,3.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,11692.00000,351.000000,12379.000000,103574.000000,1545.000000,6112.000000,3895.000000,3614.000000,7652.000000,1506.000000,...,82.000000,359.000000,84.000000,191.000000,64.000000,119.000000,68.000000,17.000000,8.000000,624.000000

In [40]:
df_casedeath.to_csv("../consolidated_data/state_cases_death.csv")

OSError: Cannot save file into a non-existent directory: '..\consolidated_data'

Healthcare Facilities

In [2]:
df_hospital= pd.read_csv('../data/epidemic/hospital.csv')
df_icu = pd.read_csv('../data/epidemic/icu.csv')
df_pkrc = pd.read_csv('../data/epidemic/pkrc.csv')

In [3]:
for i in df_hospital.columns[2::]:
    df_hospital.rename(columns={i:i+"_hospital"},inplace=True)

In [4]:
for i in df_pkrc.columns[2::]:
    df_pkrc.rename(columns={i:i+"_pkrc"},inplace=True)

In [ ]:
df_hospital.head(3)

,date,state,beds,beds_covid,beds_noncrit,admitted_pui,admitted_covid,admitted_total,discharged_pui,discharged_covid,discharged_total,hosp_covid,hosp_pui,hosp_noncovid
0,2020-03-24,Johor,1440,434,1408,0,0,0,0,0,0,18,9,1
1,2020-03-24,Kedah,1218,143,1183,0,0,0,0,0,0,46,5,12
2,2020-03-24,Kelantan,1463,280,1424,9,6,15,1,0,1,78,58,23

In [ ]:
df_icu.head(3)

,date,state,beds_icu,beds_icu_rep,beds_icu_total,beds_icu_covid,vent,vent_port,icu_covid,icu_pui,icu_noncovid,vent_covid,vent_pui,vent_noncovid,vent_used,vent_port_used
0,2020-03-24,Johor,10,22,32,10,11,2,0,0,1,0,0,0,8,0
1,2020-03-24,Kedah,35,0,35,16,34,0,2,1,12,1,1,0,19,0
2,2020-03-24,Kelantan,39,0,39,20,42,4,1,0,20,1,0,0,26,0

In [ ]:
df_pkrc.head(3)

,date,state,beds,admitted_pui,admitted_covid,admitted_total,discharged_pui,discharged_covid,discharged_total,pkrc_covid,pkrc_pui,pkrc_noncovid
0,2020-03-28,Kelantan,147,0,0,0,0,0,0,0,53,0
1,2020-03-28,Perlis,54,0,0,0,0,0,0,8,3,0
2,2020-03-28,Pulau Pinang,58,0,0,0,0,0,0,13,0,0

In [5]:
df_icu_hospital = pd.merge(df_hospital,df_icu,how='left',on=['date','state'])
df_icu_hospital.describe()

,beds_hospital,beds_covid_hospital,beds_noncrit_hospital,admitted_pui_hospital,admitted_covid_hospital,admitted_total_hospital,discharged_pui_hospital,discharged_covid_hospital,discharged_total_hospital,hosp_covid_hospital,...,vent,vent_port,icu_covid,icu_pui,icu_noncovid,vent_covid,vent_pui,vent_noncovid,vent_used,vent_port_used
count,23427.000000,23427.000000,23427.000000,23427.000000,23427.000000,23427.000000,23427.000000,23427.000000,23427.000000,23427.000000,...,23407.000000,23407.000000,23407.000000,23407.000000,23407.000000,23407.000000,23407.000000,23407.000000,23407.000000,23407.000000
mean,2319.491271,433.791181,2233.220771,13.734068,26.442267,40.176335,10.728561,22.497460,33.226021,137.867546,...,118.103730,28.444482,13.889178,0.246892,36.898022,7.568975,0.116888,19.756056,51.960396,5.851796
std,1496.063512,470.088425,1447.406177,31.155351,57.135639,79.451751,23.070002,50.357188,66.292031,295.915290,...,96.478119,28.210923,35.587033,2.561540,26.146520,20.708303,0.670358,20.535846,41.288340,8.622889
min,122.000000,0.000000,95.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1251.000000,104.000000,1209.000000,0.000000,1.000000,2.000000,0.000000,1.000000,1.000000,5.000000,...,51.000000,7.000000,0.000000,0.000000,15.000000,0.000000,0.000000,0.000000,22.000000,0.000000
50%,2105.000000,310.000000,2005.000000,2.000000,6.000000,11.000000,1.000000,5.000000,9.000000,28.000000,...,93.000000,21.000000,2.000000,0.000000,33.000000,1.000000,0.000000,16.000000,42.000000,0.000000
75%,3372.000000,586.000000,3226.500000,10.000000,25.000000,39.000000,9.000000,21.000000,34.000000,137.000000,...,177.000000,40.000000,10.000000,0.000000,53.000000,5.000000,0.000000,34.000000,78.000000,10.000000
max,6568.000000,4713.000000,6224.000000,451.000000,789.000000,914.000000,236.000000,658.000000,732.000000,4218.000000,...,534.000000,196.000000,532.000000,80.000000,135.000000,294.000000,41.000000,139.000000,402.000000,75.000000

In [ ]:
df_icu_hospital["state"].unique()

array(['Johor', 'Kedah', 'Kelantan', 'Melaka', 'Negeri Sembilan',
       'Pahang', 'Perak', 'Perlis', 'Pulau Pinang', 'Sabah', 'Sarawak',
       'Selangor', 'Terengganu', 'W.P. Kuala Lumpur', 'W.P. Labuan',
       'W.P. Putrajaya'], dtype=object)

In [ ]:
df_pkrc["state"].unique()

array(['Kelantan', 'Perlis', 'Pulau Pinang', 'Sarawak', 'Selangor',
       'W.P. Labuan', 'Perak', 'Johor', 'Negeri Sembilan', 'Sabah',
       'Melaka', 'Pahang', 'Kedah', 'Terengganu', 'W.P. Kuala Lumpur',
       'W.P. Putrajaya'], dtype=object)

In [ ]:
if(len(df_icu_hospital["state"].unique()) == len(df_pkrc["state"].unique())):
    print("Yes")
else:
    print("No")

Yes

In [6]:
df_healthcare_facilities = pd.merge(df_icu_hospital,df_pkrc,how='left',on=['date','state'])

In [8]:
df_healthcare_facilities.columns

Index(['date', 'state', 'beds_hospital', 'beds_covid_hospital',
       'beds_noncrit_hospital', 'admitted_pui_hospital',
       'admitted_covid_hospital', 'admitted_total_hospital',
       'discharged_pui_hospital', 'discharged_covid_hospital',
       'discharged_total_hospital', 'hosp_covid_hospital', 'hosp_pui_hospital',
       'hosp_noncovid_hospital', 'beds_icu', 'beds_icu_rep', 'beds_icu_total',
       'beds_icu_covid', 'vent', 'vent_port', 'icu_covid', 'icu_pui',
       'icu_noncovid', 'vent_covid', 'vent_pui', 'vent_noncovid', 'vent_used',
       'vent_port_used', 'beds_pkrc', 'admitted_pui_pkrc',
       'admitted_covid_pkrc', 'admitted_total_pkrc', 'discharged_pui_pkrc',
       'discharged_covid_pkrc', 'discharged_total_pkrc', 'pkrc_covid_pkrc',
       'pkrc_pui_pkrc', 'pkrc_noncovid_pkrc'],
      dtype='object')

In [ ]:
df_healthcare_facilities.to_csv("../data/consolidated_data/healthcare_facilities.csv")

All state related sets

In [ ]:
df_vax = pd.read_csv("../data/vaccination/vax_state.csv")
df_tests = pd.read_csv("../data/epidemic/tests_state.csv")

In [ ]:
df_main = pd.merge(df_casedeath,df_tests,how='left',on=['date','state'])
df_main = pd.merge(df_main,df_healthcare_facilities,how='left',on=['date','state'])
df_main = pd.merge(df_main,df_tests,how='left',on=['date','state'])
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24768 entries, 0 to 24767
Data columns (total 74 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                24768 non-null  object
 1   state               24768 non-null  object
 2   cases_new           24768 non-null  int64
 3   cases_import        24768 non-null  int64
 4   cases_recovered     24768 non-null  int64
 5   cases_active        24768 non-null  int64
 6   cases_cluster       24768 non-null  int64
 7   cases_unvax         24768 non-null  int64
 8   cases_pvax          24768 non-null  int64
 9   cases_fvax          24768 non-null  int64
 10  cases_boost         24768 non-null  int64
 11  cases_child         24768 non-null  int64
 12  cases_adolescent    24768 non-null  int64
 13  cases_adult         24768 non-null  int64
 14  cases_elderly       24768 non-null  int64
 15  cases_0_4           24768 non-null  int64
 16  cases_5_11          24768 non-null  int64
 17  cases_12_17         24768 non-null  int64
 18  cases_18_29         24768 non-null  int64
 19  cases_30_39         24768 non-null  int64
 20  cases_40_49         24768 non-null  int64
 21  cases_50_59         24768 non-null  int64
 22  cases_60_69         24768 non-null  int64
 23  cases_70_79         24768 non-null  int64
 24  cases_80            24768 non-null  int64
 25  deaths_new          23936 non-null  float64
 26  deaths_bid          23936 non-null  float64
 27  deaths_new_dod      23936 non-null  float64
 28  deaths_bid_dod      23936 non-null  float64
 29  deaths_unvax        23936 non-null  float64
 30  deaths_pvax         23936 non-null  float64
 31  deaths_fvax         23936 non-null  float64
 32  deaths_boost        23936 non-null  float64
 33  deaths_tat          23936 non-null  float64
 34  rtk-ag_x            16288 non-null  float64
 35  pcr_x               16288 non-null  float64
 36  beds_x              23347 non-null  float64
 37  beds_covid          23347 non-null  float64
 38  beds_noncrit        23347 non-null  float64
 39  admitted_pui_x      23347 non-null  float64
 40  admitted_covid_x    23347 non-null  float64
 41  admitted_total_x    23347 non-null  float64
 42  discharged_pui_x    23347 non-null  float64
 43  discharged_covid_x  23347 non-null  float64
 44  discharged_total_x  23347 non-null  float64
 45  hosp_covid          23347 non-null  float64
 46  hosp_pui            23347 non-null  float64
 47  hosp_noncovid       23347 non-null  float64
 48  beds_icu            23327 non-null  float64
 49  beds_icu_rep        23327 non-null  float64
 50  beds_icu_total      23327 non-null  float64
 51  beds_icu_covid      23327 non-null  float64
 52  vent                23327 non-null  float64
 53  vent_port           23327 non-null  float64
 54  icu_covid           23327 non-null  float64
 55  icu_pui             23327 non-null  float64
 56  icu_noncovid        23327 non-null  float64
 57  vent_covid          23327 non-null  float64
 58  vent_pui            23327 non-null  float64
 59  vent_noncovid       23327 non-null  float64
 60  vent_used           23327 non-null  float64
 61  vent_port_used      23327 non-null  float64
 62  beds_y              10001 non-null  float64
 63  admitted_pui_y      10001 non-null  float64
 64  admitted_covid_y    10001 non-null  float64
 65  admitted_total_y    10001 non-null  float64
 66  discharged_pui_y    10001 non-null  float64
 67  discharged_covid_y  10001 non-null  float64
 68  discharged_total_y  10001 non-null  float64
 69  pkrc_covid          10001 non-null  float64
 70  pkrc_pui            10001 non-null  float64
 71  pkrc_noncovid       10001 non-null  float64
 72  rtk-ag_y            16288 non-null  float64
 73  pcr_y               16288 non-null  float64
dtypes: float64(49), int64(23), object(2)
memory usage: 14.0+ MB

In [ ]:
df_vax_state = pd.read_csv('../data/vaccination/vax_state.csv')
df_main = pd.read_csv('../data/consolidated_data/all_state.csv')
df_main = pd.merge(df_main,df_vax_state,how='left',on=['date','state'])

In [ ]:
df_main.describe()

,Unnamed: 0,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_unvax,cases_pvax,cases_fvax,cases_boost,...,sinopharm2,sinopharm3,sinopharm4,cansino,cansino3,cansino4,pending1,pending2,pending3,pending4
count,24768.00000,24768.00000,24768.000000,24768.000000,24768.000000,24768.000000,24768.000000,24768.000000,24768.000000,24768.000000,...,18432.000000,18432.00000,18432.000000,18432.000000,18432.000000,18432.000000,18432.000000,18432.000000,18432.000000,18432.000000
mean,12383.50000,213.17244,1.580709,211.336281,2599.339470,21.576470,82.347626,17.632833,57.008035,56.183947,...,0.869683,0.53597,0.007704,11.840820,0.440755,0.014214,0.581489,0.381131,0.144531,0.013726
std,7150.05007,627.11245,9.378788,633.463726,7190.493069,68.639854,265.922475,125.481625,197.029996,269.697437,...,6.536032,6.33813,0.123893,167.732529,8.326347,0.411455,9.064379,5.303760,1.699256,0.391816
min,0.00000,0.00000,0.000000,0.000000,-630.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000
25%,6191.75000,2.00000,0.000000,2.000000,57.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,12383.50000,24.00000,0.000000,22.000000,491.500000,0.000000,5.000000,0.000000,2.000000,1.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,18575.25000,152.00000,0.000000,144.000000,2159.000000,6.000000,39.000000,1.000000,20.000000,19.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,24767.00000,11692.00000,351.000000,12379.000000,103574.000000,1545.000000,6112.000000,3895.000000,3614.000000,7652.000000,...,225.000000,255.00000,6.000000,7715.000000,441.000000,39.000000,461.000000,374.000000,113.000000,48.000000

In [ ]:
df_main.to_csv("../data/consolidated_data/all.csv")

Malaysia Level

In [ ]:
df_cases_malaysia = pd.read_csv('../data/epidemic/cases_malaysia.csv')
df_deaths_malaysia = pd.read_csv('../data/epidemic/deaths_malaysia.csv')

In [ ]:
df_cases_malaysia.head(2)

,date,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_unvax,cases_pvax,cases_fvax,cases_boost,...,cases_60_69,cases_70_79,cases_80,cluster_import,cluster_religious,cluster_community,cluster_highRisk,cluster_education,cluster_detentionCentre,cluster_workplace
0,2020-01-25,4,4,0,4,0,4,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-26,0,0,0,4,0,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_deaths_malaysia.head(2)

,date,deaths_new,deaths_bid,deaths_new_dod,deaths_bid_dod,deaths_unvax,deaths_pvax,deaths_fvax,deaths_boost,deaths_tat
0,2020-03-17,2,0,2,0,2,0,0,0,0
1,2020-03-18,0,0,0,0,0,0,0,0,0

In [ ]:
df_main = pd.merge(df_cases_malaysia,df_deaths_malaysia,how='left',on=['date'])

In [ ]:
df_main

,date,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_unvax,cases_pvax,cases_fvax,cases_boost,...,cluster_workplace,deaths_new,deaths_bid,deaths_new_dod,deaths_bid_dod,deaths_unvax,deaths_pvax,deaths_fvax,deaths_boost,deaths_tat
0,2020-01-25,4,4,0,4,0,4,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-26,0,0,0,4,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-27,0,0,0,4,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-28,0,0,0,4,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-29,3,3,0,7,0,3,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1543,2024-04-16,110,0,44,7736,0,21,1,28,60,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1544,2024-04-17,125,0,40,7821,0,20,0,22,83,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1545,2024-04-18,134,0,31,7924,0,12,0,24,98,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1546,2024-04-19,135,0,21,8038,0,20,1,18,96,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1547,2024-04-20,118,5,27,8129,0,17,1,26,74,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df_main.to_csv('../data/consolidated_data/malaysia_casedeath.csv')

In [ ]:
df_casedeath_malaysia = pd.read_csv('../data/consolidated_data/malaysia_casedeath.csv')
df_tests_malaysia = pd.read_csv('../data/epidemic/tests_malaysia.csv')

In [ ]:
df_main = pd.merge(df_casedeath_malaysia,df_tests_malaysia,how='left',on=['date'])

In [ ]:
df_main

,Unnamed: 0,date,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_unvax,cases_pvax,cases_fvax,...,deaths_bid,deaths_new_dod,deaths_bid_dod,deaths_unvax,deaths_pvax,deaths_fvax,deaths_boost,deaths_tat,rtk-ag,pcr
0,0,2020-01-25,4,4,0,4,0,4,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5.0
1,1,2020-01-26,0,0,0,4,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,14.0
2,2,2020-01-27,0,0,0,4,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,24.0
3,3,2020-01-28,0,0,0,4,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,53.0
4,4,2020-01-29,3,3,0,7,0,3,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,71.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1543,1543,2024-04-16,110,0,44,7736,0,21,1,28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1544,1544,2024-04-17,125,0,40,7821,0,20,0,22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1545,1545,2024-04-18,134,0,31,7924,0,12,0,24,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1546,1546,2024-04-19,135,0,21,8038,0,20,1,18,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1547,1547,2024-04-20,118,5,27,8129,0,17,1,26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [ ]:
df_main.to_csv('../data/consolidated_data/all_malaysia.csv')